
OpenProfiler/\.DS_Store

\.DS_Store

OpenProfiler/\.vs/OpenProfiler/xs/sqlite3/db\.lock

OpenProfiler/\.vs/OpenProfiler/xs/sqlite3/storage\.ide

OpenProfiler/\.vs/OpenProfiler/xs/sqlite3/storage\.ide-shm

OpenProfiler/\.vs/OpenProfiler/xs/sqlite3/storage\.ide-wal

OpenProfiler/\.vs/OpenProfiler/xs/UserPrefs\.xml

OpenProfiler/\.vscode/launch\.json

OpenProfiler/\.vscode/tasks\.json

bin
obj
packages

OpenProfiler/.idea/

OpenProfiler/.vs/
